/* Hides the scrollbar for x and y*/
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Arial;
}

/* Hides the scrollbar for x and y*/
body::-webkit-scrollbar {
  display: none;
}

/* Makes the buttons look better and fade into and our=t of*/
.button {
  border: none;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.9s;
  cursor: pointer;
}
  
.button1 {
  border-radius: 15px;
  background-color: white; 
  color: black; 
  border: 2px solid #d3e7ff;
}

/* Makes the container change colour on hover*/
.button1:hover {
  background-color: #d3e7ff;
  color: rgb(92, 92, 92);
}

/* Hides the form beacuse it is not meant to be seen*/
.videoidform {
  display: none;
}

/* Limites the scroll box and lets the user scroll through it*/
.CommentScroll {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1px;
}

.CommentScroll::-webkit-scrollbar {
  display: none;
}

/* Fixes the navbar to the top odf the screen*/
.top_navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Adds padding to overcome the navbar being stuck to the top*/
.main {
  padding-top: 80px;
  padding-bottom: 70px;
}

/* A style for the videos that are being reccomended*/
.video_container {
  padding-top: 5px;
  padding-left: 10px;
  max-height: 1000px;
  overflow-y: scroll;
  background-color: aliceblue;
  padding-bottom: 5px;
  border-radius: 15px;
}

input.form-control {
  width: 200px!important;
}

.comment{
  padding: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  padding-bottom: 5px;
  border: 2px solid #969696;
}

/* Makes the container change colour on hover*/
.comment:hover {
  background-color: #edf5ff;
  color: rgb(92, 92, 92);
}
.likebutton{
  border: 2px solid #969696;
}

.thingsatthebottomoftheloginpage{
  padding-top: 10px;
  margin: 0px;
}

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #d3e7ff;
border-radius: 15px;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: aliceblue;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #bad9ff;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border-top: none;
}

/*
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mainloader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  height: 1000px;
  background-image: linear-gradient(180deg, #002f63, #970830);
  overflow-y: hidden;
}

h1, h2 {
  color:  white;
}
*/